<div class="wrapper">
    [[ render .header ]]

    [[ render .sidebar ]]

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
            Board Management
            <small>Preview</small>
            </h1>
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">General Elements</li>
            </ol>
        </section>

        [[ render .content ]]

    </div>

    [[ render .footer ]]

</div><!-- ./wrapper -->