<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box box-solid box-primary">
                <div class="box-header">
                    <h3 class="box-title">BOARD</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>게시판입니다.</p>
                    <a href="/adm/board/list" class="btn btn-primary"><i class="ion-arrow-right-c"></i> Go Board</a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>